<div class="row">
    <div class="side">
        <h2>BallWork</h2>
            <div class="main">
                <div>
                    <p>Please select a drill</p>
                    <p>THIS TEMPALTE WILL DISPLAY DETAILS OF MAIN DRILL TYPE FROM FIREBASE DB</p>
                    <p>MAIN DRILL BEING HANDLING?BALL CONTROL ETC</p>
                    <p>MORE DRILL TYPE CAN BE ADDED</p>
                    

                   <!--  <div ng-repeat="drl in drills">
                        <drill-type drill="drl"></drill-type>
                    </div> -->
                </div>
            </div>
    </div>
</div>