
<h2>Home page</h2>
	<div class="main">
		<div>
			
			<p>Welcome to GAA coach where you can create your own training session and share your and collaborate with coaches nationwide</p>
			<home-options></home-options>
			
		</div>
	</div>
