<div>
    <div class="navbar">
        <a href="#!about">About</a>
        <a href="/">Home</a>
        <a href="#!register" ng-show="user.data.email==null">Register</a>
        <a href="#!login" ng-show="user.data.email==null" >Login</a>
        <a href="#!drills">Drills</a>
        <a href="#!create_drill" ng-show="user.data.email!=null">Create new drill</a>
    </div>
    <div class="main">
        <p ng-show="user.data.email!=null">You are logged in as {{user.data.email}}</p>
        <h2>You can create a new drill</h2>
        <form ng-submit="submitForm()" name="newDrill">
           <!--  name the drill -->
            <input name="drill_name" type="text" id="drill_name" ng-model="drill_name"/>
            <select name="drill_type">
                <option value="ball_work">Ball work</option>
                <option value="handling">Handling</option>
                <option value="stamina">Stamina</option>
                <option value="defense">Defense</option>
                <option value="attacking">Attacki</option>
            </select>
            <!--create steps fro the drill-->
            <p>{{drillsteps}}</p>
            <div class="drill_steps" ng-repeat="step in drillsteps">
                <textarea rows="4" cols="50" placeholder="Enter a new drill step"  ng-model="step.data"></textarea>
                <button ng-show="showAddStep(step)" ng-click="addNewStep()">Add Step</button>
                <button ng-show="showAddStep(step)" ng-click="removeNewStep()">Remove Step</button>
            </div>
            <input type="submit" id="submit" value="Submit"/>
        </form>
    </div>
</div>