<div class="main"></div>
    <h2>You can create a new drill</h2>
    <form ng-submit="submitForm()">

        <p>Drill name : </p><input type="text" ng-model="formData.drill_name" />
        <input type="submit" id="submit" value="Submit"/>
    </form>
</div>