<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GAA fantasy</title>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" type="text/css" href="stylesheets/common_theme.css" />
			</head>
			<body>

				

				<header>
					<h2>About GAA manager <%= title %>
						</h2>
					</header>

					<section>
						<nav style="width:20%">
							<ul>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Leaderboard</a>
								</li>
								<li>
									<a href="#">Register</a>
								</li>
								<li>
									<a href="#">Login</a>
								</li>
								<li>
									<a href="/getteam">pick a team</a>
								</li>
							</ul>
						</nav>

						<article>

							<p>The application will allow you to become a manger and handle training schedules, tactics for matches and off field issues</p>

						</article>
					</section>

					<footer>
						<p>&copy; GlenBegLake</p>
					</footer>

				</body>
			</html>
			