<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page Title</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
				
		<link rel="stylesheet" type="text/css" href="stylesheets/common_theme.css" />
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<style>
		</style>
			</head>
			<body>

				<div class="header">
					<h1>My Website</h1>
					<p>A website created by me.</p>
				</div>

				<div class="navbar">
					<a href="/about">About</a>
					<a href="/register">Register</a>
					<a href="/login">Login</a>
					<a href="/getteam">Pick a team</a>
					<a href="/calendar">View Schedule</a>
					<a href="#" class="right">Link</a>
				</div>

				<div class="row">
					<div class="side">
						<h2>Heres the match Schedule</h2>
						
						
						
							<div class="main">
								
								<p>Here is the schedule</p>
								<div ng-app="myApp" ng-controller="myCtrl">

								

								</div>

									
						

								<script>
								//angular js code goes here
								</script>
							</div>
					</div>
				</div>

					<div class="footer">
						<h2>Footer</h2>
					</div>

						</body>
					</html>
					