<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- Include the AngularJS routing library -->
        <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
				
		<link rel="stylesheet" type="text/css" href="stylesheets/common_theme.css" />
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<style>
		</style>
			</head>
			<body ng-app="TrainingDrillApp">

				<div class="header">
					<h1>GAA Coach INDEX</h1>
					<p>A website created by me.</p>
				</div>

				<div class="navbar">
					<a href="/about">About</a>
					<a href="/home">Home</a>
					<a href="/register">Register</a>
					<a href="/login">Login</a>
					<a href="/drills">Drills</a>
				</div>

				<div class="row">
					<div class="side" ng-controller="myCtrl">
						<h2>Drill Types</h2>
							<div class="main">
								<div>
									<p>Please select a drill</p>
									
									<div ng-repeat="drl in drills">
										<drill-type drill="drl"></drill-type>
									</div>
								</div>
							</div>
					</div>
				</div>
				<div class="footer">
						<h2>Footer</h2>
					</div>
				<!-- Modules -->
				<script src="javascripts/app.js"></script>

				<!-- Controllers -->
				<script src="javascripts/controllers/mainController.js"></script>
				<!--directives-->
				<script src="javascripts/directives/drillInfo.js"></script>
			
			</body>
</html>
					

					